@media all {
 
  .Login .FB {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
/*dimensiuni butoane si centrare*/