@media all {
    .pers{
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: block;
    line-height: 1.428571429;
    color: #999;
        
  }
  .body{
    background-color:#f2f2f2;
  }
}