@media all {
   /* .Home Form{
    padding: 50px;
   } */
   .image{
    opacity: 0.7;
  }
   /* .motto {
    margin: auto;
    width: 50%;
    padding: 50px;
    } */
    .background{
        background-color: #f2f2f2;
    }
    .background_profile{
        padding: 10px;
    }
    .background_profile #nume{
        font-size: 140%;
        font-weight: normal;
    }
    .background_profile #locatie{
        color: grey;
        font-weight: lighter;
        font-size: 15px;
    }
    .background_profile #small{
        border: 1px solid white;
        padding-left: 30px;
        width: 100px;
    }
    .background_profile #big{
        border: 1px solid white;
        width: 500px;
      }
    .background_profile #centerpoint {
        top: 50%;
        left: 50%;
        position: absolute;
        background-color: white;
    }
    .background #center {
        top: 50%;
        left: 50%;
        position: absolute;
        background-color: white;
        
    }
    .background #spinner{
        top: 50%;
        left: 50%;
        position: absolute;
      }
    .background_profile button {
            background-color: white;
            color: black;
            border: 2px solid #e7e7e7;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
    }
    
    .background_profile button:hover {
        background-color:grey;
        color: white;
    }
    .background_profile #dialog {
        border-top: 5px solid grey;
        border-bottom: 5px solid grey;
        background-color:white;
        position: relative;
        text-align: center;
        padding: 70px 0;
        width: 400px;
        margin-left: -100px;
    
        height: 200px;
        margin-top: -100px;
    }

}
/*dimensiuni butoane si centrare*/