@media all {
   /* .Home Form{
    padding: 50px;
   } */
   .image{
    opacity: 0.7;
  }
   /* .motto {
    margin: auto;
    width: 50%;
    padding: 50px;
    } */
    .background{
        background-color: #f2f2f2;
    }
}
/*dimensiuni butoane si centrare*/